<!-- <div class="bg-dark p-4">
    <h2 class="text-light mb-4">Our Writers</h2>
    <div class="row mb-4">
        <div class="col d-flex align-items-center">
            <img src="https://images.pexels.com/photos/1499327/pexels-photo-1499327.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="author" style="width: 65px; height: 65px; border-radius: 50%; object-fit: cover;">
            <p class="text-light ps-2">
                <i class="bi bi-quote"></i>
                Isabella Bennit
            </p>
        </div>
        <div class="col d-flex align-items-center ">
            <img src="https://images.pexels.com/photos/2589653/pexels-photo-2589653.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="author" style="width: 65px; height: 65px; border-radius: 50%; object-fit: cover;">
            <p class="text-light ps-2">
                <i class="bi bi-quote"></i>
                Chris Jermy
            </p>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col d-flex align-items-center">
            <img src="https://images.pexels.com/photos/1080213/pexels-photo-1080213.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="author" style="width: 65px; height: 65px; border-radius: 50%; object-fit: cover;">
            <p class="text-light ps-2">
                <i class="bi bi-quote"></i>
                Juan Gohmas
            </p>
        </div>
        <div class="col d-flex align-items-center ">
            <img src="https://images.pexels.com/photos/2726111/pexels-photo-2726111.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="author" style="width: 65px; height: 65px; border-radius: 50%; object-fit: cover;">
            <p class="text-light ps-2">
                <i class="bi bi-quote"></i>
                Masha Raymerz
            </p>
        </div>
    </div>
</div> -->